
<img width="80" height="50" alt="Angular Logo" src="http://www.vaidemoto.com.br/image/cache/desenhos/adesivo-protetor-de-tanque-bleach-2-4001-800x800.png">

<div style="text-align:left">
    
  
  
</div >
<div id="menu" >

<button mat-button [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon>Menu</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item disabled><span>Clientes</span></button>
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Sair</button>


</mat-menu>

</div>

<fundo></fundo>
